/* importing fonts for both arabic and latin lang pages */
@import url('../fonts/Montserrat/style.css');
///////////////////////////////////////////////////////////////////////
/////////////////////////VARIABLES////////////////////////////////////


//Giving fonts classes ! so everyone can use them anywhere 0:) ********************************
.stv {
    font-family: 'STV' !important;
}

.montserrat {
    font-family: 'Montserrat' !important;
}

.playfair-display {
    font-family: 'Playfair Display' !important;
}

.al-watan-headlines {
    font-family: 'AlWatanHeadlines' !important;
}

/********************************************************************************************************************************************************************************/

// the position of the image in the navigation drawer
.offcanvas-img {
    background-image: url('../images/martyrsMemorial.png');
    background-position: 0 0;
    background-size: cover;
}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    &>div>div>a,
    &>div ul>li>a {
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: 500;
        color: #FFFFFF;
    }

    &>div ul>li>a:hover {
        color: #7FE0B2;
    }

    .small-secreen {

        &>ul>li>a,
        &>ul>li>div>ul>li a {
            color: #181818 !important;
        }

    }

    svg {
        fill: #FFFFFF;
    }
}




#mobile-nav {
    &>li>a {
        font-size: 30px;
        font-weight: 400;
        line-height: 63.98px;
    }

    & a:hover,
    & a:focus {
        color: #D21034;
    }

    &>li>div>ul>li>a {
        font-size: 24px;
        font-weight: 400;
    }

    &>li>div>ul>li>div>ul>li>a {
        font-size: 18px;
        font-weight: 400;
    }
}

.separator {
    height: 3px;
    width: 100px;
    background-color: #D21034;
    display: block;
}

.red {
    color: #D21034 !important;
}


header {
    .main-nav {
        z-index: 100;
    }

    #anniversary-logo {
        width: 100vw;
        height: 50px;
        top: 70px !important;
        left: 0;
        overflow: none;
        z-index: 1;

        @media screen and (max-width: 960px) {
            top: 70px !important;
        }

        @media screen and (max-width: 400px) {
            top: 50px !important;
        }

        h1 {
            font-size: 25px;
            font-weight: 600;
            z-index: 1;
        }

        img {
            height: 120px;
            width: auto;
        }
    }
}

header.add-shadow {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7945277181903968) 3%, rgba(0, 0, 0, 0.3703704148196103) 100%);


}

.slider1-text {
    align-self: center !important;

    span.separator {
        background-color: #7FE0B2 !important;
        right: 0;
        height: 25px !important;
        width: 100px !important;
        top: 50%;
    }

    img {
        filter: brightness(0) invert(1);
        transition: filter ease .2s;
        padding: 10px;
    }

    a:hover>img {
        filter: none;
    }

    @media screen and(max-width: 1200px) {
        top: 15vh;

        h1,
        h2 {
            font-size: 50px !important;
            line-height: 60px !important;
        }
    }

    @media screen and(max-width: 900px) {
        top: 10vh;

        h1,
        h2 {
            font-size: 40px !important;
            line-height: 50px !important;
        }

        p {
            font-size: 20px !important;
            font-weight: 500;

        }
    }


    @media screen and (max-width: 600px) {
        p {
            max-width: 360px;
        }
    }



    h1,
    h2 {
        font-family: 'Playfair Display';
        font-size: 60px;
        font-weight: 600;
    }

    ul.flex-column {
        a {
            font-weight: 500;
        }
    }

    p {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        font-family: 'Montserrat';
    }
}

#mainSlider {
    height: inherit;

    .nav {
        a {
            font-size: 20px;
            color: #FFFFFF;
            display: block;
        }

        p {
            transform: rotate(-90deg);
            color: #FFFFFF;
            width: fit-content;
        }
    }

    .teboun {
        background-color: rgba(255, 255, 255, 0.3);
        max-width: 500px;
        margin-bottom: 10%;
        margin-left: 30px;
        cursor: pointer;

        img {
            height: 62px;
            width: 80px;
        }

        @media screen and (max-width: 590px) {
            max-width: unset !important;
            flex-direction: column-reverse !important;

            #tebountxt {
                p {
                    width: 70vw !important;
                    text-align: justify;
                }
            }
        }

        .teboun-img {
            height: 100px;
            width: auto;
        }

        #tebountxt {
            p {
                width: 350px;
            }
        }

        h1 {
            font-size: 24px !important;
            margin: 0;
            padding: 0;
        }

        small {
            font-size: 16px;
        }

        p {
            margin: 0;
        }
    }
}

body {
    background-color: #1D1D1B;
}

html {
    overflow-x: hidden !important;
}

.section-3 {
    height: 100vh !important;
    box-sizing: border-box !important;

    @media screen and (min-width: 700px) {
        background-image: url('../images/Group\ 220.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 50px;

    }

    @media screen and (max-width: 500px) {
        padding-top: 50px;
        ;
    }

    .separator {
        width: 32px;
    }

    h1,
    h2 {
        font-size: 80px;
        font-weight: 700;
        color: #FFFFFF;

        span {
            font-size: 168px;
            font-weight: 700;
        }
    }

    a {
        color: #1D1D1B;
        cursor: pointer;
    }

    nav {
        .separator {
            width: 201px;
            height: 4px;
            background-color: #FFFFFF;
        }

        @media screen and (max-width: 800px) {
            ul {
                flex-direction: column !important;
                justify-content: space-evenly !important;
                align-items: center;
            }
        }

        a {
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 600;
            padding-left: 0;
            text-align: right;
            padding-bottom: 30px;

        }

        a:hover {
            color: #7FE0B2;
            transition: transform ease-in-out;
            transform: scale(1.1);
            &>.separator{
                background-color: #D21034;
            }
        }

        .nav-link.active~.separator {
            height: 8px !important;
            background-color: #D21034 !important;
        }
    }

    @media screen and (max-width: 1100px) {

        h1,
        h2 {
            font-size: 70px;
            font-weight: 500;

            span {
                font-size: 90px;
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: 540px) {

        h1,
        h2 {
            font-size: 50px !important;
            font-weight: 400 !important;

            span {
                font-size: 70px !important;
                font-weight: 500 !important;
            }
        }
    }

    @media screen and (max-width: 400px) {

        h1,
        h2 {
            font-size: 30px !important;
            font-weight: 400 !important;

            span {
                font-size: 50px !important;
                font-weight: 500 !important;
            }
        }
    }

}


.section-4,
.section-x {
    .separator {
        height: 3px;
        background-color: #7FE0B2;
        width: 100%;
        margin-bottom: 20px;
    }


    h1,
    h2 {
        font-weight: 700;
        color: #FFFFFF;
        font-size: 168px;
    }

    @media screen and (max-width: 640px) {

        h1,
        h2 {
            font-size: 100px;
            text-align: center;
            display: block !important;
        }

        align-items: center !important;
        text-align: center !important;
    }

    @media screen and (max-width: 430px) {

        h1,
        h2 {
            font-size: 60px;
        }
    }
}


.section-5 {
    padding-top: 50px;

    .card {
        position: relative;

        .card-content {
            padding: 30px 16px 16px 16px;
        }

        .card-img img {
            top: -24px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            left: 10%;
            position: absolute;
        }

    }
}

/********************************************************************************************************************************************************************************/
.nav-right {
    display: flex;
    justify-content: flex-end;
}

.stricked-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background-color: rgb(175, 29, 29);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 13px 0px;
    opacity: 0;
    transform: translateY(-110%);
    transition: all 0.4s ease 0s;
}

/*************************************************************************************************************************************************/

footer {
    background-color: #FFFFFF;

    img {
        width: 80px;
        height: 80px;
    }

    ul {
        a {
            color: #181818 !important;
            font-size: 18px;
            font-weight: 400;
        }
    }

    h3 {
        color: #006233;
        font-size: 24px;
        font-weight: 400;
    }

    .social * {
        color: #006233;
        font-size: 20px;
    }

    .copy-rights {
        background-color: #FFF1E2;
        color: #D21034;
        font-size: 18px;
        font-weight: 500;
    }

    .input-group {

        button,
        input {
            border-color: #7FE0B2;
            color: #7FE0B2;
        }

        input {
            font-size: 12px;
            box-shadow: #7FE0B2;
        }
    }

}


.section-2 {
    .carousel-control-btn {
        color: #006233;
        font-size: 30px;

        &:hover {
            color: #006233;
        }
    }

    .carousel-item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        font-size: 50px;
        color: #D21034;
        margin-right: 30px;
    }

    .carousel-indicators>button {
        height: 12px;
        width: 12px;
        background-color: #006233;
        border-radius: 50%;
    }


    .carousel-item {
        p {
            text-align: justify;
        }
    }

    .btn-default {
        background: #006EFF;
        width: 100%;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        font-size: 14px;
    }

    .card {
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
        border: none;
        margin-bottom: 30px;
        background-color: transparent;

        .link {
            font-size: 18px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.07em;
            text-align: center;
            color: #181818;
        }

        img {
            height: auto;
            width: 200px !important;
            display: block;
            margin: 0 auto;
        }
    }

    .card:hover {
        transform: scale(1.05);
        transition: all 1s ease;
        z-index: 999;
    }

    .card-01 .card-body {
        position: relative;
        padding-top: 40px;
    }

    .card-01 .badge-box {
        position: absolute;
        top: -20px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        text-align: center;
    }

    .card-01 .badge-box i {
        background: #006EFF;
        color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
    }

    .card-01 .height-fix {
        height: 455px;
        overflow: hidden;
    }

    .card-01 .height-fix .card-img-top {
        width: auto !important;
    }

    .profile-box {
        background-size: cover;
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        position: relative;
        overflow: hidden;
    }

    .profile-box:before {
        filter: blur(10px);
        background: url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat;
        background-size: cover;
        width: 120%;
        position: absolute;
        content: "";
        height: 120%;
        left: -10%;
        top: 0;
        z-index: 0;
    }

    .profile-box img {
        width: 170px;
        height: 170px;
        position: relative;
        border: 5px solid #fff;
    }

    .social-box i {
        border: 1px solid #006EFF;
        color: #006EFF;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
    }

    .social-box i:hover {
        background: #DFC717;
        color: #fff;
    }

    .social-box a {
        margin: 0 5px;
    }

    .video-foreground {
        float: left;
        width: 100%;
        height: 500px;
    }

    .card-01.height-fix .card-img-overlay {
        top: unset;
        color: #fff;
        background: -moz-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a606f', endColorstr='#e8154159', GradientType=0);
    }

    .card-01.height-fix .fa {
        color: #fff;
        font-size: 22px;
        margin-right: 18px;
    }



}


html {
    overflow-x: hidden;
}

.contacts-page {
    padding-top: 100px;
    min-width: 100vw;
    min-height: 100vh;
    ;

    /*= input focus effects css
    =========================== */
    :focus {
        outline: none;
    }



    /* necessary to give position: relative to parent. */
    input[type="text"] {
        font: 15px/24px "Lato", Arial, sans-serif;
        color: #333;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;
    }

    .effect-1,
    .effect-2,
    .effect-3 {
        border: 0;
        padding: 7px 0;
        border-bottom: 1px solid #ccc;
    }

    .effect-1~.focus-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #3399FF;
        transition: 0.4s;
    }

    .effect-1:focus~.focus-border {
        width: 100%;
        transition: 0.4s;
    }

    form {
        input {
            background-color: transparent;

        }
    }

    h1 {
        font-size: 120px;
    }
}



.gradient {
    background: rgb(0, 102, 51) !important;
    background: linear-gradient(180deg, rgba(0, 102, 51, 0.0866625496510709) 28%, rgba(0, 102, 51, 1) 100%) !important;
}



.section-7 {
    background-color: #1D1D1B !important;

    .separator {
        background-color: #FFFFFF;
        width: 80%;
        margin: 0 auto;
    }

    .slider-controllers {
        font-size: 30px;

        a {
            color: #FFFFFF;
            cursor: pointer;
            padding: 10px 50px;
            transition: transform ease .3s;
        }

        a:hover {
            transform: scale(1.5);
        }
    }

    .nav>li>a {
        font-family: 'Playfair Display' !important;
        font-weight: 900;
        color: #FFFFFF;
        font-size: 32px;

        &.active {
            background-color: transparent;
            color: #D21034;
        }
    }

    @media (max-width: 767px) {
        .carousel-inner .carousel-item>div {
            display: none;
        }

        .carousel-inner .carousel-item>div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    .carousel-inner {
        .separator {
            width: 20px;
            height: 2px;
            border-radius: 10px;
        }

        color: #FFFFFF;

        h3 {
            color: #D21034;
            font-size: 48px;
            text-align: right;
            margin-bottom: 0;
        }

        span {
            color: #FFFFFF;
        }

        .carousel-img-bislem {
            overflow: hidden;
            position: relative;

            p {
                position: absolute;
                top: -100%;
                transition: all ease .2s;
                right: 0;
                text-align: justify;
                text-align-last: right;
                font-size: 15px;
            }

            &,
            * {
                transition: transform ease .2s, filter ease-in-out .2s;
            }

            &:hover {
                img {
                    transform: scale(1.5);
                    filter: brightness(37%);
                    -webkit-filter: brightness(37%);
                    -moz-filter: brightness(37%);
                }

                p {
                    top: 0;
                }
            }

        }
    }
}