/* importing fonts for both arabic and latin lang pages */
@import url("../fonts/Montserrat/style.css");

.stv {
  font-family: 'STV' !important;
}

.montserrat {
  font-family: 'Montserrat' !important;
}

.playfair-display {
  font-family: 'Playfair Display' !important;
}

.al-watan-headlines {
  font-family: 'AlWatanHeadlines' !important;
}

/********************************************************************************************************************************************************************************/
.offcanvas-img {
  background-image: url("../images/martyrsMemorial.png");
  background-position: 0 0;
  background-size: cover;
}

.main-nav>div>div>a,
.main-nav>div ul>li>a {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #FFFFFF;
}

.main-nav .small-secreen>ul>li>a,
.main-nav .small-secreen>ul>li>div>ul>li a {
  color: #181818 !important;
}

.main-nav svg {
  fill: #FFFFFF;
}

#mobile-nav>li>a {
  font-size: 30px;
  font-weight: 400;
  line-height: 63.98px;
}

#mobile-nav a:hover,
#mobile-nav a:focus {
  color: #D21034;
}

#mobile-nav>li>div>ul>li>a {
  font-size: 24px;
  font-weight: 400;
}

#mobile-nav>li>div>ul>li>div>ul>li>a {
  font-size: 18px;
  font-weight: 400;
}

.separator {
  height: 3px;
  width: 100px;
  background-color: #D21034;
  display: block;
}

.red {
  color: #D21034 !important;
}

header.add-shadow {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0.794528)), to(rgba(0, 0, 0, 0.37037)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.794528) 3%, rgba(0, 0, 0, 0.37037) 100%);
}

.slider1-text {
  position: absolute;
  top: 30vh;
  left: 10vw;
  color: #FFFFFF;
  width: 566px;
}

@media screen and (max-width: 1200px) {
  .slider1-text {
    top: 15vh;
  }

  .slider1-text h1,
  .slider1-text h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }
}

@media screen and (max-width: 900px) {
  .slider1-text {
    top: 10vh;
  }

  .slider1-text h1,
  .slider1-text h2 {
    font-size: 40px !important;
    line-height: 50px !important;
  }

  .slider1-text p {
    font-size: 20px !important;
    font-weight: 500;
  }
}

.slider1-text h1,
.slider1-text h2 {
  font-family: 'Playfair Display';
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
}

.slider1-text ul.flex-column a {
  font-weight: 500;
}

.slider1-text p {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  font-family: 'Montserrat';
}

#mainSlider .nav a {
  font-size: 20px;
  color: #FFFFFF;
  display: block;
}

#mainSlider .nav p {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  background-color: #FFF1E2;
}

.section-3 {
  margin-top: 100px;
}

.section-3 .separator {
  width: 32px;
}

.section-3 h1,
.section-3 h2 {
  font-size: 80px;
  font-weight: 700;
}

.section-3 h1 span,
.section-3 h2 span {
  font-size: 168px;
  font-weight: 700;
}

.section-3 a {
  color: #1D1D1B;
  cursor: pointer;
}

.section-3 nav .separator {
  width: 201px;
  height: 4px;
  background-color: #1D1D1B;
}

.section-3 nav a {
  font-size: 24px;
  font-weight: 600;
  padding-left: 0;
}

.section-3 nav .nav-link.active~.separator {
  height: 8px !important;
  background-color: #D21034 !important;
}

@media screen and (max-width: 1100px) {

  .section-3 h1,
  .section-3 h2 {
    font-size: 70px;
    font-weight: 500;
  }

  .section-3 h1 span,
  .section-3 h2 span {
    font-size: 90px;
    font-weight: 600;
  }
}

@media screen and (max-width: 540px) {

  .section-3 h1,
  .section-3 h2 {
    font-size: 50px !important;
    font-weight: 400 !important;
  }

  .section-3 h1 span,
  .section-3 h2 span {
    font-size: 70px !important;
    font-weight: 500 !important;
  }
}

@media screen and (max-width: 400px) {

  .section-3 h1,
  .section-3 h2 {
    font-size: 30px !important;
    font-weight: 400 !important;
  }

  .section-3 h1 span,
  .section-3 h2 span {
    font-size: 50px !important;
    font-weight: 500 !important;
  }
}

.section-4 .separator,
.section-x .separator {
  height: 3px;
  background-color: #7FE0B2;
  width: 100%;
  margin-bottom: 20px;
}

.section-4 h1,
.section-4 h2,
.section-x h1,
.section-x h2 {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 168px;
}

@media screen and (max-width: 640px) {

  .section-4,
  .section-x {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .section-4 h1,
  .section-4 h2,
  .section-x h1,
  .section-x h2 {
    font-size: 100px;
    text-align: center;
    display: block !important;
  }
}

@media screen and (max-width: 430px) {

  .section-4 h1,
  .section-4 h2,
  .section-x h1,
  .section-x h2 {
    font-size: 60px;
  }
}

.section-5 {
  padding-top: 50px;
}

.section-5 .card {
  position: relative;
}

.section-5 .card .card-content {
  padding: 30px 16px 16px 16px;
}

.section-5 .card .card-img img {
  top: -24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 10%;
  position: absolute;
}

/********************************************************************************************************************************************************************************/
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.stricked-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  background-color: #af1d1d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 13px 0px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 13px 0px;
  opacity: 0;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*************************************************************************************************************************************************/
footer {
  background-color: #FFFFFF;
}

footer img {
  width: 80px;
  height: 80px;
}

footer ul a {
  color: #181818 !important;
  font-size: 18px;
  font-weight: 400;
}

footer h3 {
  color: #006233;
  font-size: 24px;
  font-weight: 400;
}

footer .social * {
  color: #006233;
  font-size: 20px;
}

footer .copy-rights {
  background-color: #FFF1E2;
  color: #D21034;
  font-size: 18px;
  font-weight: 500;
}

footer .input-group button,
footer .input-group input {
  border-color: #7FE0B2;
  color: #7FE0B2;
}

footer .input-group input {
  font-size: 12px;
  -webkit-box-shadow: #7FE0B2;
  box-shadow: #7FE0B2;
}

.section-2 .carousel-control-btn {
  color: #006233;
  font-size: 30px;
}

.section-2 .carousel-control-btn:hover {
  color: #006233;
}

.section-2 .carousel-item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  font-size: 50px;
  color: #D21034;
  margin-right: 30px;
}

.section-2 .carousel-indicators>button {
  height: 12px;
  width: 12px;
  background-color: #006233;
  border-radius: 50%;
}

.section-2 .carousel-item p {
  text-align: justify;
}

.section-2 .btn-default {
  background: #006EFF;
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.section-2 .card {
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 30px;
  background-color: transparent;
}

.section-2 .card .link {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #181818;
}

.section-2 .card img {
  height: auto;
  width: 200px !important;
  display: block;
  margin: 0 auto;
}

.section-2 .card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.section-2 .card-01 .card-body {
  position: relative;
  padding-top: 40px;
}

.section-2 .card-01 .badge-box {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  text-align: center;
}

.section-2 .card-01 .badge-box i {
  background: #006EFF;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.section-2 .card-01 .height-fix {
  height: 455px;
  overflow: hidden;
}

.section-2 .card-01 .height-fix .card-img-top {
  width: auto !important;
}

.section-2 .profile-box {
  background-size: cover;
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.section-2 .profile-box:before {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background: url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat;
  background-size: cover;
  width: 120%;
  position: absolute;
  content: "";
  height: 120%;
  left: -10%;
  top: 0;
  z-index: 0;
}

.section-2 .profile-box img {
  width: 170px;
  height: 170px;
  position: relative;
  border: 5px solid #fff;
}

.section-2 .social-box i {
  border: 1px solid #006EFF;
  color: #006EFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

.section-2 .social-box i:hover {
  background: #DFC717;
  color: #fff;
}

.section-2 .social-box a {
  margin: 0 5px;
}

.section-2 .video-foreground {
  float: left;
  width: 100%;
  height: 500px;
}

.section-2 .card-01.height-fix .card-img-overlay {
  top: unset;
  color: #fff;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 96, 111, 0)), color-stop(1%, rgba(26, 96, 111, 0)), color-stop(31%, rgba(24, 87, 104, 0.91)), to(rgba(21, 65, 89, 0.91)));
  background: linear-gradient(to bottom, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a606f', endColorstr='#e8154159', GradientType=0);
}

.section-2 .card-01.height-fix .fa {
  color: #fff;
  font-size: 22px;
  margin-right: 18px;
}

html {
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */


* {
  box-sizing: border-box;
}





.page-content06 {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content06 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content06 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card06 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card06 {
    height: 350px;
  }
}

.card06:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card06:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card06:nth-child(1):before {
  background-image: url("../images/الأمير\ عبد\ القادر.jpg");
  background-size:contain;
  background-repeat: no-repeat;
}

.card06:nth-child(2):before {
  background-image: url("../images/أحمد\ باي.jpg");
  background-size:contain;
  background-repeat: no-repeat;
}

.card06:nth-child(3):before {
  background-image: url("../images/ف-\ نسومر.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}

.card06:nth-child(4):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}

.card06:nth-child(5):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}
.card06:nth-child(6):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}
.card06:nth-child(7):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}
.card06:nth-child(8):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}
.card06:nth-child(9):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}
.card06:nth-child(10):before {
  background-image: url("../images/بوشوشة.JPG");
  background-size:contain;
  background-repeat: no-repeat;
}

.content06 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content06>*+* {
  margin-top: 1rem;
}

.title06 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy06 {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn06 {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn06:hover {
  background-color: #0d0d0d;
}

.btn06:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card06:after {
    transform: translateY(0);
  }

  .content06 {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content06>*:not(.title06) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card06:hover,
  .card06:focus-within {
    align-items: center;
  }

  .card06:hover:before,
  .card06:focus-within:before {
    transform: translateY(-4%);
  }

  .card06:hover:after,
  .card06:focus-within:after {
    transform: translateY(-50%);
  }

  .card06:hover .content06,
  .card06:focus-within .content06 {
    transform: translateY(0);
  }

  .card06:hover .content06>*:not(.title06),
  .card06:focus-within .content06>*:not(.title06) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card06:focus-within:before,
  .card06:focus-within:after,
  .card06:focus-within .content06,
  .card06:focus-within .content06>*:not(.title06) {
    transition-duration: 0s;
  }
}




.strip {
  display: flex;
}
.strip + .strip {
  margin-top: 1rem;
}

.film {
  aspect-ratio: 16/9;
  background: #000;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff);
  background-repeat: no-repeat;
  background-position: 5% 5%, 15% 5%, 25% 5%, 35% 5%, 45% 5%, 55% 5%, 65% 5%, 75% 5%, 85% 5%, 95% 5%, 5% 95%, 15% 95%, 25% 95%, 35% 95%, 45% 95%, 55% 95%, 65% 95%, 75% 95%, 85% 95%, 95% 95%;
  background-size: 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%;
}
.film__frame {
  padding: 13% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.film__frame img {
  max-width: 100%;
  border-radius: 2px;
}